//COLORS//
$grey-text-1: #6c757d;
$grey-text-2: #999999;
$grey-text-3: #777777;
$grey-text-4: #666666;
$grey-text-5: #555555;

//heading colors
$grey-heading-1: #444444;
$grey-heading-2: #333333;

$color-white-1: #ffffff;
$color-white-2: #eeeeee;
$color-white-3: #ffffffbf;
$color-white-4: #ffffff80;

$color-blue: #209ebb;

$color-footer: #373d52;

//FONT SIZE
$default-font-size: 1.6rem;
$font-size-small-1: 1.3rem;
$font-size-small: 1.2rem;

//GRID WIDTH
$grid-width: 138rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
