//SECTION EXPLORE//

.explore {
	&__banner {
		background-color: rgba($color-blue, 0.07);

		padding: 5rem;
	}

	&__top {
		height: 50%;
	}

	&__paragraph {
		width: 85%;
		font-size: 1.6rem;
		color: $grey-text-1;
		padding-top: 1.5rem;
	}

	&__container-2 {
		background-color: $color-white-1;
		padding: 2rem;
		text-align: center;
		border: 1px solid rgba($color-blue, 0.2);
	}

	&__count {
		font-size: 5.6rem;
		font-weight: 800;
		color: $color-blue;
		border-bottom: 1px solid rgba($color-blue, 0.07);
		display: inline-block;
	}

	&__text {
		font-size: 1.6rem;
		color: $grey-heading-1;
		padding-top: 1rem;
	}

	&__large-text {
		font-size: 5.8rem;
		font-weight: 800;
		color: $color-blue;
	}

	&__bottom {
		padding: 0 4rem;
	}

	&__header {
		border-bottom: 1px dashed $grey-text-3;
	}

	&__para {
		font-size: 1.6rem;
		font-weight: 400;
		color: $grey-text-3;
		width: 75%;
		margin-top: 1rem;
	}

	&__heading {
		display: inline-block;
		width: 65%;
		margin-left: 1rem;
		line-height: 1.2;
	}
}

//SECTION USER//

.user {
	background-color: rgba($color-blue, 0.07);

	text-align: center;
	padding: 5rem;

	&__banner {
		background-color: $color-white-1;
		width: 80%;
		padding: 4rem 3rem;
	}

	&__text {
		color: $grey-text-5;
		font-weight: 200;
	}

	&__paragraph {
		color: $grey-text-5;
	}

	&__image {
		width: 100%;
	}

	&__picture {
		width: 100%;
		margin-top: 3rem;
	}
}

//BRAND//
.brand {
	&__container {
		width: 80%;
		margin: 0 auto;
	}

	&__col {
		height: 10rem;
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__box {
		width: 80%;
		margin: 0 auto;
	}

	&__column {
		height: 8rem;
		position: relative;
	}

	&__pic {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

//SECTION INVESTOR//
.investor {
	&__container-1 {
		@include clearfix;
	}

	&__box {
		float: left;
		width: 9.09%;

		&--small {
			width: 8%;
		}
	}

	&__slide {
		width: 84%;
		padding: 2rem 6rem;
	}

	&__heading {
		float: left;
	}

	&__button {
		float: right;
		padding-top: 1.5rem;
	}

	&__image {
		width: 100%;
		transition: all 0.5s ease;

		&:hover,
		&:active {
			opacity: 0.5;
		}
	}
}

//SECTION DETAIL//
.detail {
	background-color: $color-footer;

	&__container-1 {
		border-bottom: 1px solid $grey-text-1;
	}

	&__list {
		list-style: none;
	}

	&__item {
		padding-bottom: 0.5rem;
	}

	&__link {
		text-decoration: none;
		color: $color-white-3;
		font-weight: 400;
		transition: all 0.2s ease;

		&:hover,
		&:active {
			color: $color-white-2;
		}
	}

	&__box {
		text-align: right;
	}

	&__logo {
		height: 4.5rem;
	}

	&__text {
		width: 80%;
		color: $color-white-3;
		text-align: right;
		margin-left: 6rem;
	}

	&__icon-box {
		text-align: right;
	}

	&__container-2 {
		padding: 2rem 0;
		margin: 0 auto;

		@include clearfix;
	}

	&__heading {
		float: left;
		padding: 0.7rem 2rem;
	}

	&__group {
		float: left;

		position: relative;
	}

	&__input {
		padding: 1.15rem 2rem;
		width: 35rem;
		font-size: 1.6rem;
	}

	&__button {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__container-3 {
		padding: 1rem 0 3rem 0;
		border-top: 1px solid $grey-text-1;
	}

	&__para {
		padding: 1rem 0;
		font-weight: 500;
		word-spacing: 1;
	}
}

//FOOTER//
.footer {
	background-color: $grey-heading-2;
	padding: 5rem 0;
	font-size: $font-size-medium;

	&__left {
		color: $color-white-5;
	}

	&__right {
		text-align: right;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;
		color: $color-white-5;
	}

	&__link {
		text-decoration: none;
		color: $color-white-5;
		padding: 0 1rem;
		transition: all 0.2s ease;

		&:hover,
		&:active {
			color: $color-white-3;
		}
	}
}
