.icon {
	&__search {
		margin-right: 1.5rem;
		font-size: 2rem;
	}

	&__user {
		margin-right: 0.7rem;
		font-size: 1.5rem;
	}

	&__arrow {
		font-size: 1.5rem;
		margin-left: 0.5rem;
	}

	&__apple {
		background-color: $color-white-1;
		border-radius: 2px;
		padding: 2px;
		height: 4rem;
	}

	&__map {
		padding-right: 2rem;
	}
}
