.navigation {
	width: 100vw;
	@include clearfix;
	background-color: $color-white-1;

	position: fixed;
	top: 0;
	left: 0;

	border-bottom: 1px solid rgba($grey-text-2, 0.2);

	z-index: 100000;

	&__logo {
		height: 6rem;
		padding: 1rem 0 0 2rem;
	}

	&__list {
		list-style: none;
		float: right;
	}

	&__item {
		display: inline-block;
		padding: 2.1rem;
	}

	&__link {
		text-decoration: none;
		font-size: $font-size-small-1;
		font-weight: 700;
		color: $grey-text-3;
		transition: all 0.2s ease;

		&--active {
			color: $color-blue;
		}

		&:hover,
		&:active {
			color: $color-blue;
		}
	}

	&__button {
		float: right;
		margin-right: 3rem;
		padding: 1rem;
	}
}
