body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: $default-font-size;
	line-height: 1.7;
	color: $grey-text-1;

	box-sizing: border-box;
}

.heading__primary {
	font-size: 4.6rem;
	color: $grey-heading-1;
	font-weight: 600;

	line-height: 6rem;
}

.heading__secondary {
	font-size: 3.4rem;
	font-weight: 700;
	color: $grey-heading-2;
}

.heading__tertiary {
	font-size: 2.4rem;
	font-weight: 600;
	color: $grey-heading-1;
}

.heading__4 {
	font-size: 2.2rem;
	font-weight: 700;
	color: $grey-heading-1;
}

.heading__5 {
	font-size: 2.4rem;
	font-weight: 600;
	color: $color-bg-blue;
}

.heading__6 {
	font-size: 1.5rem;
	font-weight: 700;
	color: $color-white-2;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $grey-text-1;
}

.heading__7 {
	font-size: 2.2rem;
	font-weight: 700;
	color: $color-white-1;
}
