//TOP Margins
.u-margin-top-small {
	margin-top: 2rem;
}

.u-margin-top-medium {
	margin-top: 4rem;
}

.u-margin-top-big {
	margin-top: 6rem;
}

.u-margin-top-huge {
	margin-top: 8rem;
}

//BOTTOM MARGINS
.u-margin-bottom-small {
	margin-bottom: 2rem;
}

.u-margin-bottom-medium {
	margin-bottom: 4rem;
}

.u-margin-bottom-big {
	margin-bottom: 6rem;
}

.u-margin-bottom-huge {
	margin-bottom: 8rem;
}

//RIGHT MARGINS
.u-margin-right-small {
	margin-right: 1rem;
}

//COLOR CLASS
.u-color-blue {
	color: $color-blue;
}
