//TOP Margins
.umts {
	margin-top: 2rem !important;
} //margin top small

.umtm {
	margin-top: 4rem !important;
} //margin top medium

.umtb {
	margin-top: 6rem !important;
} //margin top big

.umth {
	margin-top: 8rem !important;
} //margin top huge

.umte {
	margin-top: 10rem !important;
} //margin top enormous

.umtx {
	margin-top: 15rem !important;
} //margin top extreme

//BOTTOM MARGINS
.umbs {
	margin-bottom: 2rem !important;
} //margin bottom small

.umbm {
	margin-bottom: 4rem !important;
} //margin bottom medium

.umbb {
	margin-bottom: 6rem !important;
} //margin bottom big

.umbh {
	margin-bottom: 8rem !important;
} //margin bottom huge

.umbe {
	margin-bottom: 12rem !important;
} //margin bottom enormous

//RIGHT MARGINS
.umrs {
	margin-right: 1rem !important;
} //margin right small

//COLOR CLASS
.u-color-blue {
	color: $color-blue !important;
}

//WIDTH
.uwd1 {
	width: 55%;
}

//POSITIONING

.utca {
	text-align: center;
}
